<mat-progress-bar id="progress-bar" *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
<div>
    <mat-toolbar color="default" position="relative">
        <h6>
            Inventory
        </h6>
        <button mat-stroked-button color="primary" (click)="quickFilterClick('Most Expensive')" >Most Expensive</button>
        <button mat-stroked-button color="primary" (click)='quickFilterClick("Highest Count")'  >Highest Count</button>
        <button mat-stroked-button color="primary" (click)='quickFilterClick("Owned Cards")' >Owned Cards</button>
        <button mat-stroked-button color="accent" (click)='quickFilterClick("Clear Secondary")' >Clear Secondary</button>
        <!-- <button mat-button (click)="addCardsClick()">Add Cards</button> -->
        <button mat-button [routerLink]="['/inventory/add-cards/']">Add Cards</button>
        <button mat-button (click)="trimmingToolClick()">Trimming Tool</button>
    </mat-toolbar>
    <div>
        <app-inventory-filter-bar
            [searchFilter]="searchFilter"
            [filterOptions]="filterOptions"
            (onSearchButtonClick)="onSearchClick()">
        </app-inventory-filter-bar>
        <!-- <InventoryFilterBar
                viewMethod={this.props.viewMethod}
                filterOptions={this.props.filterOptions}
                handleBoolFilterChange={this.handleBoolFilterChange}
                handleFilterChange={this.handleFilterChange}
                handleSearchButtonClick={this.handleSearchButtonClick}
                searchFilter={this.props.searchFilter}
                /> -->

                <div>
                    <!-- <CardImagePopper
                        menuAnchor={this.props.cardImageMenuAnchor}
                        onClose={this.handleCardDetailMenuClose}
                        image={selectedOverview?.imageUrl}
                        /> -->
                    <!-- <LoadingBox *ngIf="isLoading" /> -->
                    <app-inventory-card-grid *ngIf="!isLoading"
                        [cardOverviews]="searchResults"
                        (onCardSelected)="cardDetailSelected($event)"
                        (onInfoButtonEnter)="cardDetailButtonClick($event)"
                        (onInfoButtonLeave)="cardDetailMenuClose()" >
                    </app-inventory-card-grid>
                </div>
    </div>
    <!-- <div>
        <p>Loading: {{isLoading}}</p>
        <p>PROPS</p>

        <p>groupBy: {{searchFilter?.groupBy}}</p>
        <p>sortBy: {{searchFilter?.sortBy}}</p>
        <p>sortDescending: {{searchFilter?.sortDescending}}</p>
        <p>set: {{searchFilter?.set}}</p>
        <p>type: {{searchFilter?.type}}</p>
        <p>colorIdentity: {{searchFilter?.colorIdentity}}</p>

        <p>text: {{searchFilter?.text}}</p>
        <p>minCount: {{searchFilter?.minCount}}</p>
    </div> -->

</div>
