<body>
  <mat-toolbar color="primary" class="mat-elevation-z6">
    <!-- TODO - remember this is a bootstrap class -->
    <div class="container">
      <div class="navbar-brand">Test App - Angular</div>
    </div>
  </mat-toolbar>
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
  <div class="container">
    <div>
      <h1>Hello, world!</h1>
      <p>This is a simple example app written with Angular!</p>
    </div>
    <div>
      <h4>App Config: <span id="app-config-status">{{appConfigStatus}}</span></h4>
      <h4 *ngIf="!isLoading && appConfig">Configured Value: <span id="config-string">{{appConfig.configString}}</span></h4>
      <h4 *ngIf="!isLoading && appConfig">Last Updated: <span id="config-last-updated">{{appConfig.lastUpdated | date:'short'}}</span></h4>
      <button mat-flat-button color="primary" id="refresh-button" (click)="onRefreshClick()" [disabled]="isLoading">Refresh</button>
    </div>
  </div>
</body>
