
Carpentry/Inventory.db
*.dll
Carpentry/Inventory.bak.db
Carpentry/Inventory.db
Carpentry.Tests/bin/*
*.pdb
*.cache
Inventory.db
.vs/Carpentry/v16/Server/sqlite3/storage.ide
.vs/Carpentry/v16/.suo
.vs/Carpentry/DesignTimeBuild/.dtbcache
.vs/Carpentry/v16/Server/sqlite3/storage.ide-wal
.vs/Carpentry/v16/Server/sqlite3/storage.ide-shm
.vs/Carpentry/v16/Server/sqlite3/storage.ide
.vs/Carpentry/v16/.suo
CarpentryMigrationTool/obj/*
CarpentryMigrationTool/bin/*
.vs/Carpentry/v16/.suo
.vs/Carpentry/v16/Server/sqlite3/storage.ide
.vs/Carpentry/DesignTimeBuild/.dtbcache
.vs/Carpentry/v16/.suo
.vs/Carpentry/v16/Server/sqlite3/storage.ide
Carpentry.Tests/obj/Carpentry.Tests.csproj.nuget.dgspec.json
Carpentry.Tests/obj/Carpentry.Tests.csproj.nuget.g.props
Carpentry.Tests/obj/Carpentry.Tests.csproj.nuget.g.targets
Carpentry.Tests/obj/Debug/netcoreapp2.2/Carpentry.Tests.AssemblyInfo.cs
Carpentry.Tests/obj/Debug/netcoreapp2.2/Carpentry.Tests.csproj.CopyComplete
Carpentry.Tests/obj/Debug/netcoreapp2.2/Carpentry.Tests.csproj.FileListAbsolute.txt
Carpentry.Tests/obj/Debug/netcoreapp2.2/Carpentry.Tests.RazorAssemblyInfo.cs
Carpentry.Tests/obj/project.assets.json
*.testlog
*.manifest
Carpentry.LiveDataTests/obj/project.assets.json
Carpentry.LiveDataTests/obj/Debug/netcoreapp3.0/Carpentry.LiveDataTests.AssemblyInfo.cs
Carpentry.LiveDataTests/obj/Debug/netcoreapp2.2/Carpentry.LiveDataTests.RazorAssemblyInfo.cs
Carpentry.LiveDataTests/obj/Debug/netcoreapp2.2/Carpentry.LiveDataTests.AssemblyInfo.cs
Carpentry.LiveDataTests/obj/Carpentry.LiveDataTests.csproj.nuget.g.targets
Carpentry.LiveDataTests/obj/Carpentry.LiveDataTests.csproj.nuget.g.props
Carpentry.LiveDataTests/obj/Carpentry.LiveDataTests.csproj.nuget.dgspec.json
Carpentry.LiveDataTests/bin/Debug/netcoreapp2.2/Carpentry.deps.json
Carpentry.LiveDataTests/bin/Debug/netcoreapp2.2/Carpentry.Data.deps.json
Carpentry.LiveDataTests/bin/Debug/netcoreapp2.2/appsettings.Development.json
Carpentry.LiveDataTests/bin/Debug/netcoreapp2.2/appsettings.json
Carpentry.LiveDataTests/bin/Debug/netcoreapp2.2/Carpentry.LiveDataTests.deps.json
Carpentry.LiveDataTests/bin/Debug/netcoreapp2.2/Carpentry.LiveDataTests.runtimeconfig.dev.json
Carpentry.LiveDataTests/bin/Debug/netcoreapp2.2/Carpentry.LiveDataTests.runtimeconfig.json
Carpentry.LiveDataTests/bin/Debug/netcoreapp2.2/package-lock.json
Carpentry.LiveDataTests/bin/Debug/netcoreapp2.2/Properties/launchSettings.json
Carpentry.LiveDataTests/obj/Debug/netcoreapp2.2/Carpentry.LiveDataTests.csproj.CopyComplete
Carpentry.LiveDataTests/obj/Debug/netcoreapp2.2/Carpentry.LiveDataTests.csproj.FileListAbsolute.txt
Carpentry.Data.BackupTool/bin/Debug/netcoreapp3.0/appsettings.json
Carpentry.Data.BackupTool/bin/Debug/netcoreapp3.0/Carpentry.Data.BackupTool.deps.json
Carpentry.Data.BackupTool/bin/Debug/netcoreapp3.0/Carpentry.Data.BackupTool.exe
Carpentry.Data.BackupTool/bin/Debug/netcoreapp3.0/Carpentry.Data.BackupTool.runtimeconfig.dev.json
Carpentry.Data.BackupTool/bin/Debug/netcoreapp3.0/Carpentry.Data.BackupTool.runtimeconfig.json
Carpentry.Data.BackupTool/bin/Debug/netcoreapp3.0/runtimes/alpine-x64/native/libe_sqlite3.so
Carpentry.Data.BackupTool/bin/Debug/netcoreapp3.0/runtimes/linux-arm/native/libe_sqlite3.so
Carpentry.Data.BackupTool/bin/Debug/netcoreapp3.0/runtimes/linux-arm64/native/libe_sqlite3.so
Carpentry.Data.BackupTool/bin/Debug/netcoreapp3.0/runtimes/linux-armel/native/libe_sqlite3.so
Carpentry.Data.BackupTool/bin/Debug/netcoreapp3.0/runtimes/linux-musl-x64/native/libe_sqlite3.so
Carpentry.Data.BackupTool/bin/Debug/netcoreapp3.0/runtimes/linux-x64/native/libe_sqlite3.so
Carpentry.Data.BackupTool/bin/Debug/netcoreapp3.0/runtimes/linux-x86/native/libe_sqlite3.so
Carpentry.Data.BackupTool/bin/Debug/netcoreapp3.0/runtimes/osx-x64/native/libe_sqlite3.dylib
Carpentry.Data.BackupTool/obj/Carpentry.Data.BackupTool.csproj.nuget.dgspec.json
Carpentry.Data.BackupTool/obj/Carpentry.Data.BackupTool.csproj.nuget.g.props
Carpentry.Data.BackupTool/obj/Carpentry.Data.BackupTool.csproj.nuget.g.targets
Carpentry.Data.BackupTool/obj/Debug/netcoreapp3.0/Carpentry.Data.BackupTool.AssemblyInfo.cs
Carpentry.Data.BackupTool/obj/Debug/netcoreapp3.0/Carpentry.Data.BackupTool.csproj.CopyComplete
Carpentry.Data.BackupTool/obj/Debug/netcoreapp3.0/Carpentry.Data.BackupTool.csproj.FileListAbsolute.txt
Carpentry.Data.BackupTool/obj/Debug/netcoreapp3.0/Carpentry.Data.BackupTool.exe
Carpentry.Data.BackupTool/obj/project.assets.json
Carpentry.Data.MigrationTool/bin/Debug/netcoreapp2.2/appsettings.Development.json
Carpentry.Data.MigrationTool/bin/Debug/netcoreapp2.2/appsettings.json
Carpentry.Data.MigrationTool/bin/Debug/netcoreapp2.2/Carpentry.Data.MigrationTool.deps.json
Carpentry.Data.MigrationTool/bin/Debug/netcoreapp2.2/Carpentry.Data.MigrationTool.runtimeconfig.dev.json
Carpentry.Data.MigrationTool/bin/Debug/netcoreapp2.2/Carpentry.Data.MigrationTool.runtimeconfig.json
Carpentry.Data.MigrationTool/bin/Debug/netcoreapp2.2/package-lock.json
Carpentry.Data.MigrationTool/bin/Debug/netcoreapp2.2/Properties/launchSettings.json
Carpentry.Data.MigrationTool/obj/Carpentry.Data.MigrationTool.csproj.nuget.g.targets
Carpentry.Data.MigrationTool/obj/Carpentry.Data.MigrationTool.csproj.nuget.g.props
Carpentry.Data.MigrationTool/obj/Carpentry.Data.MigrationTool.csproj.nuget.dgspec.json
Carpentry.Data.MigrationTool/obj/Debug/netcoreapp2.2/Carpentry.Data.MigrationTool.csproj.FileListAbsolute.txt
Carpentry.Data.MigrationTool/obj/Debug/netcoreapp2.2/Carpentry.Data.MigrationTool.csproj.CopyComplete
Carpentry.Data.MigrationTool/obj/Debug/netcoreapp2.2/Carpentry.Data.MigrationTool.AssemblyInfo.cs
Carpentry.Data.MigrationTool/obj/project.assets.json
Carpentry.Data.MigrationTool/obj/Debug/netcoreapp3.0/Carpentry.Data.MigrationTool.AssemblyInfo.cs
Carpentry/ClientApp/src_alt/util.tsx
Carpentry/ClientApp/src_alt/typings/globals.d.ts
Carpentry/ClientApp/src_alt/reducers/inventory.reducer.tsx
Carpentry/ClientApp/src_alt/reducers/index.tsx
Carpentry/ClientApp/src_alt/reducers/deckEditor.reducer.tsx
Carpentry/ClientApp/src_alt/reducers/core.tsx
Carpentry/ClientApp/src_alt/reducers/cardSearch.reducer.tsx
Carpentry/ClientApp/src_alt/containers/DeckEditor.tsx
Carpentry/ClientApp/src_alt/containers/CardSearch.tsx
Carpentry/ClientApp/src_alt/components/VisualCard.tsx
Carpentry/ClientApp/src_alt/components/SectionLayout.tsx
Carpentry/ClientApp/src_alt/components/ScratchpadViewBar.tsx
Carpentry/ClientApp/src_alt/components/ScratchpadStatsBar.tsx
Carpentry/ClientApp/src_alt/components/ScratchpadPropertiesBar.tsx
Carpentry/ClientApp/src_alt/components/ScratchpadGroupLayout.tsx
Carpentry/ClientApp/src_alt/components/ScratchpadCard.tsx
Carpentry/ClientApp/src_alt/components/QuickAddLayout.tsx
Carpentry/ClientApp/src_alt/components/NewDeckLayout.tsx
Carpentry/ClientApp/src_alt/components/InventoryDetailTable.tsx
Carpentry/ClientApp/src_alt/components/InventoryDetailLayout.tsx
Carpentry/ClientApp/src_alt/components/GridCard.tsx
Carpentry/ClientApp/src_alt/components/FilterList.tsx
Carpentry/ClientApp/src_alt/components/FilterBar.tsx
Carpentry/ClientApp/src_alt/components/DeckStatsBar.tsx
Carpentry/ClientApp/src_alt/components/DeckPropsBar.tsx
Carpentry/ClientApp/src_alt/components/DeckPropertiesLayout.tsx
Carpentry/ClientApp/src_alt/components/DeckMenu.tsx
Carpentry/ClientApp/src_alt/components/DeckList.tsx
Carpentry/ClientApp/src_alt/components/DeckEditorLayout.tsx
Carpentry/ClientApp/src_alt/components/DeckCardList.tsx
Carpentry/ClientApp/src_alt/components/DeckCardGrid.tsx
Carpentry/ClientApp/src_alt/components/DeckCardDetail.tsx
Carpentry/ClientApp/src_alt/components/CardMenu.tsx
Carpentry/ClientApp/src_alt/components/CardList.tsx
Carpentry/ClientApp/src_alt/components/CardGridContainer.tsx
Carpentry/ClientApp/src_alt/components/CardFilterBar.tsx
Carpentry/ClientApp/src_alt/components/AppSideSheetLayout.tsx
Carpentry/ClientApp/src_alt/components/AppModalLayout.tsx
Carpentry/ClientApp/src_alt/components/AppModal.tsx
Carpentry/ClientApp/src_alt/components/AppLayout.tsx
Carpentry/ClientApp/src_alt/components/AppContentsLayout.tsx
Carpentry/ClientApp/src_alt/App.tsx
Carpentry/ClientApp/src_alt/App.css
Carpentry/ClientApp/src_alt/actions/inventory.actions.tsx
Carpentry/ClientApp/src_alt/actions/index.tsx
Carpentry/ClientApp/src_alt/actions/deckEditor.actions.tsx
Carpentry/ClientApp/src_alt/actions/core.actions.tsx
Carpentry/ClientApp/src_alt/actions/cardSearch.actions.tsx
Carpentry/ClientApp/src_alt/actions/api.tsx
Carpentry.Data.ImportTool/bin/Debug/Carpentry.Data.ImportTool.1.0.0.nupkg
Carpentry.Data.ImportTool/bin/Debug/netcoreapp3.0/appsettings.json
Carpentry.Data.ImportTool/bin/Debug/netcoreapp3.0/Carpentry.Data.ImportTool.deps.json
Carpentry.Data.ImportTool/bin/Debug/netcoreapp3.0/Carpentry.Data.ImportTool.exe
Carpentry.Data.ImportTool/bin/Debug/netcoreapp3.0/Carpentry.Data.ImportTool.runtimeconfig.dev.json
Carpentry.Data.ImportTool/bin/Debug/netcoreapp3.0/Carpentry.Data.ImportTool.runtimeconfig.json
Carpentry.Data.ImportTool/bin/Debug/netcoreapp3.0/runtimes/alpine-x64/native/libe_sqlite3.so
Carpentry.Data.ImportTool/bin/Debug/netcoreapp3.0/runtimes/linux-arm/native/libe_sqlite3.so
Carpentry.Data.ImportTool/bin/Debug/netcoreapp3.0/runtimes/linux-arm64/native/libe_sqlite3.so
Carpentry.Data.ImportTool/bin/Debug/netcoreapp3.0/runtimes/linux-armel/native/libe_sqlite3.so
Carpentry.Data.ImportTool/bin/Debug/netcoreapp3.0/runtimes/linux-musl-x64/native/libe_sqlite3.so
Carpentry.Data.ImportTool/bin/Debug/netcoreapp3.0/runtimes/linux-x64/native/libe_sqlite3.so
Carpentry.Data.ImportTool/bin/Debug/netcoreapp3.0/runtimes/linux-x86/native/libe_sqlite3.so
Carpentry.Data.ImportTool/bin/Debug/netcoreapp3.0/runtimes/osx-x64/native/libe_sqlite3.dylib
Carpentry.Data.ImportTool/obj/Carpentry.Data.ImportTool.csproj.nuget.g.props
Carpentry.Data.ImportTool/obj/Carpentry.Data.ImportTool.csproj.nuget.g.targets
Carpentry.Data.ImportTool/obj/Debug/Carpentry.Data.ImportTool.1.0.0.nuspec
Carpentry.Data.ImportTool/obj/Debug/netcoreapp3.0/Carpentry.Data.ImportTool.AssemblyInfo.cs
Carpentry.Data.ImportTool/obj/Debug/netcoreapp3.0/Carpentry.Data.ImportTool.csproj.CopyComplete
Carpentry.Data.ImportTool/obj/Carpentry.Data.ImportTool.csproj.nuget.dgspec.json
Carpentry.Data.ImportTool/obj/Debug/netcoreapp3.0/Carpentry.Data.ImportTool.csproj.FileListAbsolute.txt
Carpentry.Data.ImportTool/obj/Debug/netcoreapp3.0/Carpentry.Data.ImportTool.exe
Carpentry.Data.ImportTool/obj/project.assets.json
.vs/Carpentry/xs/project-cache/Carpentry-Debug.json
.vs/Carpentry/xs/project-cache/Carpentry.Data-Debug.json
.vs/Carpentry/xs/project-cache/Carpentry.Data.ImportTool-Debug.json
.vs/Carpentry/xs/project-cache/Carpentry.Data.MigrationTool-Debug.json
.vs/Carpentry/xs/project-cache/Carpentry.LiveDataTests-Debug.json
.vs/Carpentry/xs/project-cache/CarpentryMigrationTool-Debug.json
.vs/Carpentry/xs/project-cache/Carpentry.Tests-Debug.json
.vs/Carpentry/xs/UserPrefs.xml
.vs/Carpentry/xs/sqlite3/storage.ide
.vs/Carpentry/xs/project-cache/Carpentry.Data-Debug.json
*.lock
.vs/Carpentry/config/applicationhost.config
.vs/Carpentry/xs/project-cache/Carpentry.Logic-Debug.json
.vs/Carpentry/xs/project-cache/Carpentry.UI-Debug.json
.vs/Carpentry/xs/project-cache/Carpentry.UI.DeckEditor-Debug.json
.vs/Carpentry/xs/project-cache/Carpentry.UI.Inventory-Debug.json
.vs/Carpentry/xs/project-cache/Carpentry.UI.SetIndex-Debug.json
.vs/Carpentry/xs/project-cache/EmptyReduxApp-Debug.json
Carpentry.Data/obj/Carpentry.Data.csproj.nuget.dgspec.json
Carpentry.Data/obj/Carpentry.Data.csproj.nuget.g.props
Carpentry.Data/obj/Carpentry.Data.csproj.nuget.g.targets
Carpentry.Data/obj/Debug/netcoreapp2.2/Carpentry.Data.AssemblyInfo.cs
Carpentry.Data/obj/Debug/netcoreapp2.2/Carpentry.Data.csproj.FileListAbsolute.txt
Carpentry.Data/obj/Debug/netcoreapp3.0/Carpentry.Data.AssemblyInfo.cs
Carpentry.Data/obj/Debug/netcoreapp3.0/Carpentry.Data.csproj.FileListAbsolute.txt
Carpentry.Data/obj/project.assets.json
Carpentry.Tests/obj/Debug/netcoreapp3.0/Carpentry.Tests.csproj.FileListAbsolute.txt
Carpentry.Tests/obj/Debug/netcoreapp3.0/Carpentry.Tests.AssemblyInfo.cs
