
Carpentry/Inventory.db
*.dll
Carpentry/Inventory.bak.db
Carpentry/Inventory.db
Carpentry.Tests/bin/*
*.pdb
*.cache
Inventory.db
.vs/Carpentry/v16/Server/sqlite3/storage.ide
.vs/Carpentry/v16/.suo
.vs/Carpentry/DesignTimeBuild/.dtbcache
.vs/Carpentry/v16/Server/sqlite3/storage.ide-wal
.vs/Carpentry/v16/Server/sqlite3/storage.ide-shm
.vs/Carpentry/v16/Server/sqlite3/storage.ide
.vs/Carpentry/v16/.suo
CarpentryMigrationTool/obj/*
CarpentryMigrationTool/bin/*
.vs/Carpentry/v16/.suo
.vs/Carpentry/v16/Server/sqlite3/storage.ide
.vs/Carpentry/DesignTimeBuild/.dtbcache
.vs/Carpentry/v16/.suo
.vs/Carpentry/v16/Server/sqlite3/storage.ide
Carpentry.Tests/obj/Carpentry.Tests.csproj.nuget.dgspec.json
Carpentry.Tests/obj/Carpentry.Tests.csproj.nuget.g.props
Carpentry.Tests/obj/Carpentry.Tests.csproj.nuget.g.targets
Carpentry.Tests/obj/Debug/netcoreapp2.2/Carpentry.Tests.AssemblyInfo.cs
Carpentry.Tests/obj/Debug/netcoreapp2.2/Carpentry.Tests.csproj.CopyComplete
Carpentry.Tests/obj/Debug/netcoreapp2.2/Carpentry.Tests.csproj.FileListAbsolute.txt
Carpentry.Tests/obj/Debug/netcoreapp2.2/Carpentry.Tests.RazorAssemblyInfo.cs
Carpentry.Tests/obj/project.assets.json
*.testlog
*.manifest
Carpentry.LiveDataTests/obj/project.assets.json
Carpentry.LiveDataTests/obj/Debug/netcoreapp3.0/Carpentry.LiveDataTests.AssemblyInfo.cs
Carpentry.LiveDataTests/obj/Debug/netcoreapp2.2/Carpentry.LiveDataTests.RazorAssemblyInfo.cs
Carpentry.LiveDataTests/obj/Debug/netcoreapp2.2/Carpentry.LiveDataTests.AssemblyInfo.cs
Carpentry.LiveDataTests/obj/Carpentry.LiveDataTests.csproj.nuget.g.targets
Carpentry.LiveDataTests/obj/Carpentry.LiveDataTests.csproj.nuget.g.props
Carpentry.LiveDataTests/obj/Carpentry.LiveDataTests.csproj.nuget.dgspec.json
Carpentry.LiveDataTests/bin/Debug/netcoreapp2.2/Carpentry.deps.json
Carpentry.LiveDataTests/bin/Debug/netcoreapp2.2/Carpentry.Data.deps.json
Carpentry.LiveDataTests/bin/Debug/netcoreapp2.2/appsettings.Development.json
Carpentry.LiveDataTests/bin/Debug/netcoreapp2.2/appsettings.json
Carpentry.LiveDataTests/bin/Debug/netcoreapp2.2/Carpentry.LiveDataTests.deps.json
Carpentry.LiveDataTests/bin/Debug/netcoreapp2.2/Carpentry.LiveDataTests.runtimeconfig.dev.json
Carpentry.LiveDataTests/bin/Debug/netcoreapp2.2/Carpentry.LiveDataTests.runtimeconfig.json
Carpentry.LiveDataTests/bin/Debug/netcoreapp2.2/package-lock.json
Carpentry.LiveDataTests/bin/Debug/netcoreapp2.2/Properties/launchSettings.json
Carpentry.LiveDataTests/obj/Debug/netcoreapp2.2/Carpentry.LiveDataTests.csproj.CopyComplete
Carpentry.LiveDataTests/obj/Debug/netcoreapp2.2/Carpentry.LiveDataTests.csproj.FileListAbsolute.txt
Carpentry.Data.BackupTool/bin/Debug/netcoreapp3.0/appsettings.json
Carpentry.Data.BackupTool/bin/Debug/netcoreapp3.0/Carpentry.Data.BackupTool.deps.json
Carpentry.Data.BackupTool/bin/Debug/netcoreapp3.0/Carpentry.Data.BackupTool.exe
Carpentry.Data.BackupTool/bin/Debug/netcoreapp3.0/Carpentry.Data.BackupTool.runtimeconfig.dev.json
Carpentry.Data.BackupTool/bin/Debug/netcoreapp3.0/Carpentry.Data.BackupTool.runtimeconfig.json
Carpentry.Data.BackupTool/bin/Debug/netcoreapp3.0/runtimes/alpine-x64/native/libe_sqlite3.so
Carpentry.Data.BackupTool/bin/Debug/netcoreapp3.0/runtimes/linux-arm/native/libe_sqlite3.so
Carpentry.Data.BackupTool/bin/Debug/netcoreapp3.0/runtimes/linux-arm64/native/libe_sqlite3.so
Carpentry.Data.BackupTool/bin/Debug/netcoreapp3.0/runtimes/linux-armel/native/libe_sqlite3.so
Carpentry.Data.BackupTool/bin/Debug/netcoreapp3.0/runtimes/linux-musl-x64/native/libe_sqlite3.so
Carpentry.Data.BackupTool/bin/Debug/netcoreapp3.0/runtimes/linux-x64/native/libe_sqlite3.so
Carpentry.Data.BackupTool/bin/Debug/netcoreapp3.0/runtimes/linux-x86/native/libe_sqlite3.so
Carpentry.Data.BackupTool/bin/Debug/netcoreapp3.0/runtimes/osx-x64/native/libe_sqlite3.dylib
Carpentry.Data.BackupTool/obj/Carpentry.Data.BackupTool.csproj.nuget.dgspec.json
Carpentry.Data.BackupTool/obj/Carpentry.Data.BackupTool.csproj.nuget.g.props
Carpentry.Data.BackupTool/obj/Carpentry.Data.BackupTool.csproj.nuget.g.targets
Carpentry.Data.BackupTool/obj/Debug/netcoreapp3.0/Carpentry.Data.BackupTool.AssemblyInfo.cs
Carpentry.Data.BackupTool/obj/Debug/netcoreapp3.0/Carpentry.Data.BackupTool.csproj.CopyComplete
Carpentry.Data.BackupTool/obj/Debug/netcoreapp3.0/Carpentry.Data.BackupTool.csproj.FileListAbsolute.txt
Carpentry.Data.BackupTool/obj/Debug/netcoreapp3.0/Carpentry.Data.BackupTool.exe
Carpentry.Data.BackupTool/obj/project.assets.json
Carpentry.Data.MigrationTool/bin/Debug/netcoreapp2.2/appsettings.Development.json
Carpentry.Data.MigrationTool/bin/Debug/netcoreapp2.2/appsettings.json
Carpentry.Data.MigrationTool/bin/Debug/netcoreapp2.2/Carpentry.Data.MigrationTool.deps.json
Carpentry.Data.MigrationTool/bin/Debug/netcoreapp2.2/Carpentry.Data.MigrationTool.runtimeconfig.dev.json
Carpentry.Data.MigrationTool/bin/Debug/netcoreapp2.2/Carpentry.Data.MigrationTool.runtimeconfig.json
Carpentry.Data.MigrationTool/bin/Debug/netcoreapp2.2/package-lock.json
Carpentry.Data.MigrationTool/bin/Debug/netcoreapp2.2/Properties/launchSettings.json
Carpentry.Data.MigrationTool/obj/Carpentry.Data.MigrationTool.csproj.nuget.g.targets
Carpentry.Data.MigrationTool/obj/Carpentry.Data.MigrationTool.csproj.nuget.g.props
Carpentry.Data.MigrationTool/obj/Carpentry.Data.MigrationTool.csproj.nuget.dgspec.json
Carpentry.Data.MigrationTool/obj/Debug/netcoreapp2.2/Carpentry.Data.MigrationTool.csproj.FileListAbsolute.txt
Carpentry.Data.MigrationTool/obj/Debug/netcoreapp2.2/Carpentry.Data.MigrationTool.csproj.CopyComplete
Carpentry.Data.MigrationTool/obj/Debug/netcoreapp2.2/Carpentry.Data.MigrationTool.AssemblyInfo.cs
Carpentry.Data.MigrationTool/obj/project.assets.json
Carpentry.Data.MigrationTool/obj/Debug/netcoreapp3.0/Carpentry.Data.MigrationTool.AssemblyInfo.cs
Carpentry/ClientApp/src_alt/util.tsx
Carpentry/ClientApp/src_alt/typings/globals.d.ts
Carpentry/ClientApp/src_alt/reducers/inventory.reducer.tsx
Carpentry/ClientApp/src_alt/reducers/index.tsx
Carpentry/ClientApp/src_alt/reducers/deckEditor.reducer.tsx
Carpentry/ClientApp/src_alt/reducers/core.tsx
Carpentry/ClientApp/src_alt/reducers/cardSearch.reducer.tsx
Carpentry/ClientApp/src_alt/containers/DeckEditor.tsx
Carpentry/ClientApp/src_alt/containers/CardSearch.tsx
Carpentry/ClientApp/src_alt/components/VisualCard.tsx
Carpentry/ClientApp/src_alt/components/SectionLayout.tsx
Carpentry/ClientApp/src_alt/components/ScratchpadViewBar.tsx
Carpentry/ClientApp/src_alt/components/ScratchpadStatsBar.tsx
Carpentry/ClientApp/src_alt/components/ScratchpadPropertiesBar.tsx
Carpentry/ClientApp/src_alt/components/ScratchpadGroupLayout.tsx
Carpentry/ClientApp/src_alt/components/ScratchpadCard.tsx
Carpentry/ClientApp/src_alt/components/QuickAddLayout.tsx
Carpentry/ClientApp/src_alt/components/NewDeckLayout.tsx
Carpentry/ClientApp/src_alt/components/InventoryDetailTable.tsx
Carpentry/ClientApp/src_alt/components/InventoryDetailLayout.tsx
Carpentry/ClientApp/src_alt/components/GridCard.tsx
Carpentry/ClientApp/src_alt/components/FilterList.tsx
Carpentry/ClientApp/src_alt/components/FilterBar.tsx
Carpentry/ClientApp/src_alt/components/DeckStatsBar.tsx
Carpentry/ClientApp/src_alt/components/DeckPropsBar.tsx
Carpentry/ClientApp/src_alt/components/DeckPropertiesLayout.tsx
Carpentry/ClientApp/src_alt/components/DeckMenu.tsx
Carpentry/ClientApp/src_alt/components/DeckList.tsx
Carpentry/ClientApp/src_alt/components/DeckEditorLayout.tsx
Carpentry/ClientApp/src_alt/components/DeckCardList.tsx
Carpentry/ClientApp/src_alt/components/DeckCardGrid.tsx
Carpentry/ClientApp/src_alt/components/DeckCardDetail.tsx
Carpentry/ClientApp/src_alt/components/CardMenu.tsx
Carpentry/ClientApp/src_alt/components/CardList.tsx
Carpentry/ClientApp/src_alt/components/CardGridContainer.tsx
Carpentry/ClientApp/src_alt/components/CardFilterBar.tsx
Carpentry/ClientApp/src_alt/components/AppSideSheetLayout.tsx
Carpentry/ClientApp/src_alt/components/AppModalLayout.tsx
Carpentry/ClientApp/src_alt/components/AppModal.tsx
Carpentry/ClientApp/src_alt/components/AppLayout.tsx
Carpentry/ClientApp/src_alt/components/AppContentsLayout.tsx
Carpentry/ClientApp/src_alt/App.tsx
Carpentry/ClientApp/src_alt/App.css
Carpentry/ClientApp/src_alt/actions/inventory.actions.tsx
Carpentry/ClientApp/src_alt/actions/index.tsx
Carpentry/ClientApp/src_alt/actions/deckEditor.actions.tsx
Carpentry/ClientApp/src_alt/actions/core.actions.tsx
Carpentry/ClientApp/src_alt/actions/cardSearch.actions.tsx
Carpentry/ClientApp/src_alt/actions/api.tsx
Carpentry.Data.ImportTool/bin/Debug/Carpentry.Data.ImportTool.1.0.0.nupkg
Carpentry.Data.ImportTool/bin/Debug/netcoreapp3.0/appsettings.json
Carpentry.Data.ImportTool/bin/Debug/netcoreapp3.0/Carpentry.Data.ImportTool.deps.json
Carpentry.Data.ImportTool/bin/Debug/netcoreapp3.0/Carpentry.Data.ImportTool.exe
Carpentry.Data.ImportTool/bin/Debug/netcoreapp3.0/Carpentry.Data.ImportTool.runtimeconfig.dev.json
Carpentry.Data.ImportTool/bin/Debug/netcoreapp3.0/Carpentry.Data.ImportTool.runtimeconfig.json
Carpentry.Data.ImportTool/bin/Debug/netcoreapp3.0/runtimes/alpine-x64/native/libe_sqlite3.so
Carpentry.Data.ImportTool/bin/Debug/netcoreapp3.0/runtimes/linux-arm/native/libe_sqlite3.so
Carpentry.Data.ImportTool/bin/Debug/netcoreapp3.0/runtimes/linux-arm64/native/libe_sqlite3.so
Carpentry.Data.ImportTool/bin/Debug/netcoreapp3.0/runtimes/linux-armel/native/libe_sqlite3.so
Carpentry.Data.ImportTool/bin/Debug/netcoreapp3.0/runtimes/linux-musl-x64/native/libe_sqlite3.so
Carpentry.Data.ImportTool/bin/Debug/netcoreapp3.0/runtimes/linux-x64/native/libe_sqlite3.so
Carpentry.Data.ImportTool/bin/Debug/netcoreapp3.0/runtimes/linux-x86/native/libe_sqlite3.so
Carpentry.Data.ImportTool/bin/Debug/netcoreapp3.0/runtimes/osx-x64/native/libe_sqlite3.dylib
Carpentry.Data.ImportTool/obj/Carpentry.Data.ImportTool.csproj.nuget.g.props
Carpentry.Data.ImportTool/obj/Carpentry.Data.ImportTool.csproj.nuget.g.targets
Carpentry.Data.ImportTool/obj/Debug/Carpentry.Data.ImportTool.1.0.0.nuspec
Carpentry.Data.ImportTool/obj/Debug/netcoreapp3.0/Carpentry.Data.ImportTool.AssemblyInfo.cs
Carpentry.Data.ImportTool/obj/Debug/netcoreapp3.0/Carpentry.Data.ImportTool.csproj.CopyComplete
Carpentry.Data.ImportTool/obj/Carpentry.Data.ImportTool.csproj.nuget.dgspec.json
Carpentry.Data.ImportTool/obj/Debug/netcoreapp3.0/Carpentry.Data.ImportTool.csproj.FileListAbsolute.txt
Carpentry.Data.ImportTool/obj/Debug/netcoreapp3.0/Carpentry.Data.ImportTool.exe
Carpentry.Data.ImportTool/obj/project.assets.json
.vs/Carpentry/xs/project-cache/Carpentry-Debug.json
.vs/Carpentry/xs/project-cache/Carpentry.Data-Debug.json
.vs/Carpentry/xs/project-cache/Carpentry.Data.ImportTool-Debug.json
.vs/Carpentry/xs/project-cache/Carpentry.Data.MigrationTool-Debug.json
.vs/Carpentry/xs/project-cache/Carpentry.LiveDataTests-Debug.json
.vs/Carpentry/xs/project-cache/CarpentryMigrationTool-Debug.json
.vs/Carpentry/xs/project-cache/Carpentry.Tests-Debug.json
.vs/Carpentry/xs/UserPrefs.xml
.vs/Carpentry/xs/sqlite3/storage.ide
.vs/Carpentry/xs/project-cache/Carpentry.Data-Debug.json
*.lock
.vs/Carpentry/config/applicationhost.config
.vs/Carpentry/xs/project-cache/Carpentry.Logic-Debug.json
.vs/Carpentry/xs/project-cache/Carpentry.UI-Debug.json
.vs/Carpentry/xs/project-cache/Carpentry.UI.DeckEditor-Debug.json
.vs/Carpentry/xs/project-cache/Carpentry.UI.Inventory-Debug.json
.vs/Carpentry/xs/project-cache/Carpentry.UI.SetIndex-Debug.json
.vs/Carpentry/xs/project-cache/EmptyReduxApp-Debug.json
Carpentry.Data/obj/Carpentry.Data.csproj.nuget.dgspec.json
Carpentry.Data/obj/Carpentry.Data.csproj.nuget.g.props
Carpentry.Data/obj/Carpentry.Data.csproj.nuget.g.targets
Carpentry.Data/obj/Debug/netcoreapp2.2/Carpentry.Data.AssemblyInfo.cs
Carpentry.Data/obj/Debug/netcoreapp2.2/Carpentry.Data.csproj.FileListAbsolute.txt
Carpentry.Data/obj/Debug/netcoreapp3.0/Carpentry.Data.AssemblyInfo.cs
Carpentry.Data/obj/Debug/netcoreapp3.0/Carpentry.Data.csproj.FileListAbsolute.txt
Carpentry.Data/obj/project.assets.json
Carpentry.Tests/obj/Debug/netcoreapp3.0/Carpentry.Tests.csproj.FileListAbsolute.txt
Carpentry.Tests/obj/Debug/netcoreapp3.0/Carpentry.Tests.AssemblyInfo.cs
Carpentry.Tools.QuickUpdate/bin/Debug/netcoreapp3.1/appsettings.json
Carpentry.Tools.QuickUpdate/bin/Debug/netcoreapp3.1/Carpentry.Tools.QuickUpdate.deps.json
Carpentry.Tools.QuickUpdate/bin/Debug/netcoreapp3.1/Carpentry.Tools.QuickUpdate.exe
Carpentry.Tools.QuickBackup/bin/Debug/netcoreapp3.1/appsettings.Development.json
Carpentry.Tools.QuickBackup/bin/Debug/netcoreapp3.1/appsettings.json
Carpentry.Tools.QuickBackup/bin/Debug/netcoreapp3.1/Carpentry.Tools.QuickBackup.deps.json
Carpentry.Tools.QuickBackup/bin/Debug/netcoreapp3.1/Carpentry.Tools.QuickBackup.exe
Carpentry.Tools.QuickBackup/bin/Debug/netcoreapp3.1/Carpentry.Tools.QuickBackup.runtimeconfig.dev.json
Carpentry.Tools.QuickBackup/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
Carpentry.Tools.QuickBackup/bin/Debug/netcoreapp3.1/package-lock.json
Carpentry.Tools.QuickBackup/bin/Debug/netcoreapp3.1/Carpentry.Tools.QuickBackup.runtimeconfig.json
Carpentry.Tools.QuickBackup/bin/Debug/netcoreapp3.1/runtimes/alpine-x64/native/libe_sqlite3.so
Carpentry.Tools.QuickBackup/bin/Debug/netcoreapp3.1/runtimes/linux-arm/native/libe_sqlite3.so
Carpentry.Tools.QuickBackup/bin/Debug/netcoreapp3.1/runtimes/linux-arm64/native/libe_sqlite3.so
Carpentry.Tools.QuickBackup/bin/Debug/netcoreapp3.1/runtimes/linux-armel/native/libe_sqlite3.so
Carpentry.Tools.QuickBackup/bin/Debug/netcoreapp3.1/runtimes/linux-musl-x64/native/libe_sqlite3.so
Carpentry.Tools.QuickBackup/bin/Debug/netcoreapp3.1/runtimes/linux-x64/native/libe_sqlite3.so
Carpentry.Tools.QuickBackup/bin/Debug/netcoreapp3.1/runtimes/linux-x86/native/libe_sqlite3.so
Carpentry.Tools.QuickBackup/bin/Debug/netcoreapp3.1/runtimes/osx-x64/native/libe_sqlite3.dylib
Carpentry.Tools.QuickUpdate/obj/Carpentry.Tools.QuickUpdate.csproj.nuget.dgspec.json
Carpentry.Tools.QuickUpdate/obj/Carpentry.Tools.QuickUpdate.csproj.nuget.g.props
Carpentry.Tools.QuickUpdate/obj/Carpentry.Tools.QuickUpdate.csproj.nuget.g.targets
Carpentry.Tools.QuickUpdate/obj/Debug/netcoreapp3.1/Carpentry.Tools.QuickUpdate.AssemblyInfo.cs
Carpentry.Tools.QuickUpdate/obj/Debug/netcoreapp3.1/Carpentry.Tools.QuickUpdate.csproj.CopyComplete
Carpentry.Tools.QuickUpdate/obj/Debug/netcoreapp3.1/Carpentry.Tools.QuickUpdate.csproj.FileListAbsolute.txt
Carpentry.Tools.QuickUpdate/obj/Debug/netcoreapp3.1/Carpentry.Tools.QuickUpdate.exe
Carpentry.Tools.QuickUpdate/obj/project.assets.json
Carpentry.Tools.QuickUpdate/bin/Debug/netcoreapp3.1/Carpentry.Tools.QuickUpdate.runtimeconfig.dev.json
Carpentry.Tools.QuickUpdate/bin/Debug/netcoreapp3.1/Carpentry.Tools.QuickUpdate.runtimeconfig.json
Carpentry.Tools.QuickRestore/obj/Carpentry.Tools.QuickRestore.csproj.nuget.dgspec.json
Carpentry.Tools.QuickRestore/obj/Carpentry.Tools.QuickRestore.csproj.nuget.g.props
Carpentry.Tools.QuickRestore/obj/Carpentry.Tools.QuickRestore.csproj.nuget.g.targets
Carpentry.Tools.QuickRestore/obj/Debug/netcoreapp3.1/Carpentry.Tools.QuickRestore.AssemblyInfo.cs
Carpentry.Tools.QuickRestore/obj/Debug/netcoreapp3.1/Carpentry.Tools.QuickRestore.csproj.FileListAbsolute.txt
Carpentry.Tools.QuickRestore/obj/Debug/netcoreapp3.1/Carpentry.Tools.QuickRestore.exe
Carpentry.Tools.QuickRestore/obj/project.assets.json
Carpentry.Tools.QuickRestore/bin/Debug/netcoreapp3.1/Carpentry.Tools.QuickRestore.runtimeconfig.dev.json
Carpentry.Tools.QuickRestore/bin/Debug/netcoreapp3.1/Carpentry.Tools.QuickRestore.runtimeconfig.json
Carpentry.Tools.QuickRestore/bin/Debug/netcoreapp3.1/Carpentry.Tools.QuickRestore.exe
Carpentry.Tools.QuickRestore/bin/Debug/netcoreapp3.1/Carpentry.Tools.QuickRestore.deps.json
Carpentry.Tools.QuickRestore/bin/Debug/netcoreapp3.1/appsettings.json
Carpentry.Tools.QuickBackup/obj/project.assets.json
Carpentry.Tools.QuickBackup/obj/Debug/netcoreapp3.1/Carpentry.Tools.QuickBackup.exe
Carpentry.Tools.QuickBackup/obj/Debug/netcoreapp3.1/Carpentry.Tools.QuickBackup.csproj.FileListAbsolute.txt
Carpentry.Tools.QuickBackup/obj/Debug/netcoreapp3.1/Carpentry.Tools.QuickBackup.csproj.CopyComplete
Carpentry.Tools.QuickBackup/obj/Debug/netcoreapp3.1/Carpentry.Tools.QuickBackup.AssemblyInfo.cs
Carpentry.Tools.QuickBackup/obj/Carpentry.Tools.QuickBackup.csproj.nuget.g.targets
Carpentry.Tools.QuickBackup/obj/Carpentry.Tools.QuickBackup.csproj.nuget.g.props
Carpentry.Tools.QuickBackup/obj/Carpentry.Tools.QuickBackup.csproj.nuget.dgspec.json
Carpentry.Logic/obj/project.assets.json
Carpentry.Logic/obj/Debug/netcoreapp3.1/Carpentry.Logic.csproj.FileListAbsolute.txt
Carpentry.Logic/obj/Debug/netcoreapp3.1/Carpentry.Logic.csproj.CopyComplete
Carpentry.Logic/obj/Debug/netcoreapp3.1/Carpentry.Logic.AssemblyInfo.cs
Carpentry.Logic/obj/Carpentry.Logic.csproj.nuget.g.targets
Carpentry.Logic/obj/Carpentry.Logic.csproj.nuget.g.props
Carpentry.Logic/obj/Carpentry.Logic.csproj.nuget.dgspec.json
Carpentry.LiveDataTests/bin/Debug/netcoreapp2.2/Carpentry.UI.Legacy.deps.json
Carpentry.Logic/bin/Debug/netcoreapp3.1/Carpentry.Logic.deps.json
Carpentry.Tests/obj/Carpentry.Tests.Legacy.csproj.nuget.dgspec.json
Carpentry.Tests/obj/Carpentry.Tests.Legacy.csproj.nuget.g.props
Carpentry.Tests/obj/Carpentry.Tests.Legacy.csproj.nuget.g.targets
Carpentry.Tests/obj/Debug/netcoreapp2.2/Carpentry.Tests.Legacy.AssemblyInfo.cs
Carpentry.Tests/obj/Debug/netcoreapp2.2/Carpentry.Tests.Legacy.csproj.CopyComplete
Carpentry.Tests/obj/Debug/netcoreapp2.2/Carpentry.Tests.Legacy.csproj.FileListAbsolute.txt
Carpentry.Tests/obj/Debug/netcoreapp2.2/Carpentry.Tests.Legacy.RazorAssemblyInfo.cs
Carpentry.UI.Tests/bin/Debug/netcoreapp3.1/appsettings.Development.json
Carpentry.UI.Tests/bin/Debug/netcoreapp3.1/appsettings.json
Carpentry.UI.Tests/bin/Debug/netcoreapp3.1/Carpentry.Data.deps.json
Carpentry.UI.Tests/bin/Debug/netcoreapp3.1/Carpentry.Logic.deps.json
Carpentry.UI.Tests/bin/Debug/netcoreapp3.1/Carpentry.UI.deps.json
Carpentry.UI.Tests/bin/Debug/netcoreapp3.1/Carpentry.UI.exe
Carpentry.UI.Tests/bin/Debug/netcoreapp3.1/Carpentry.UI.Tests.deps.json
Carpentry.UI.Tests/bin/Debug/netcoreapp3.1/Carpentry.UI.Tests.exe
Carpentry.UI.Tests/bin/Debug/netcoreapp3.1/Carpentry.UI.Tests.runtimeconfig.dev.json
Carpentry.UI.Tests/bin/Debug/netcoreapp3.1/Carpentry.UI.Tests.runtimeconfig.json
Carpentry.UI.Tests/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
Carpentry.UI.Tests/obj/Carpentry.UI.Tests.csproj.nuget.dgspec.json
Carpentry.UI.Tests/obj/Carpentry.UI.Tests.csproj.nuget.g.props
Carpentry.UI.Tests/obj/Carpentry.UI.Tests.csproj.nuget.g.targets
Carpentry.UI.Tests/obj/Debug/netcoreapp3.1/Carpentry.UI.Tests.AssemblyInfo.cs
Carpentry.UI.Tests/obj/Debug/netcoreapp3.1/Carpentry.UI.Tests.csproj.CopyComplete
Carpentry.UI.Tests/obj/Debug/netcoreapp3.1/Carpentry.UI.Tests.csproj.FileListAbsolute.txt
Carpentry.UI.Tests/obj/Debug/netcoreapp3.1/Carpentry.UI.Tests.exe
Carpentry.UI.Tests/obj/Debug/netcoreapp3.1/Carpentry.UI.Tests.MvcApplicationPartsAssemblyInfo.cs
Carpentry.UI.Tests/obj/Debug/netcoreapp3.1/staticwebassets/Carpentry.UI.Tests.StaticWebAssets.xml
Carpentry.UI.Tests/obj/project.assets.json
Carpentry.UI/bin/Debug/netcoreapp3.1/appsettings.Development.json
Carpentry.UI/bin/Debug/netcoreapp3.1/appsettings.json
Carpentry.UI/bin/Debug/netcoreapp3.1/Carpentry.UI.deps.json
Carpentry.UI/bin/Debug/netcoreapp3.1/Carpentry.UI.exe
Carpentry.UI/bin/Debug/netcoreapp3.1/Carpentry.UI.runtimeconfig.dev.json
Carpentry.UI/bin/Debug/netcoreapp3.1/Carpentry.UI.runtimeconfig.json
Carpentry.UI/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
Carpentry.UI/obj/Carpentry.UI.csproj.nuget.dgspec.json
Carpentry.UI/obj/Carpentry.UI.csproj.nuget.g.props
Carpentry.UI/obj/Carpentry.UI.csproj.nuget.g.targets
Carpentry.UI/obj/Debug/netcoreapp3.1/Carpentry.UI.AssemblyInfo.cs
Carpentry.UI/obj/Debug/netcoreapp3.1/Carpentry.UI.csproj.CopyComplete
Carpentry.UI/obj/Debug/netcoreapp3.1/Carpentry.UI.csproj.FileListAbsolute.txt
Carpentry.UI/obj/Debug/netcoreapp3.1/Carpentry.UI.exe
Carpentry.UI/obj/Debug/netcoreapp3.1/staticwebassets/Carpentry.UI.StaticWebAssets.xml
Carpentry.UI/obj/project.assets.json
Carpentry.Data.Tests/obj/Carpentry.Data.Tests.csproj.nuget.dgspec.json
Carpentry.Data.Tests/obj/Carpentry.Data.Tests.csproj.nuget.g.props
Carpentry.Data.Tests/obj/Carpentry.Data.Tests.csproj.nuget.g.targets
Carpentry.Data.Tests/obj/Debug/netcoreapp3.1/Carpentry.Data.Tests.AssemblyInfo.cs
Carpentry.Data.Tests/obj/Debug/netcoreapp3.1/Carpentry.Data.Tests.csproj.CopyComplete
Carpentry.Data.Tests/obj/Debug/netcoreapp3.1/Carpentry.Data.Tests.csproj.FileListAbsolute.txt
Carpentry.Data.Tests/obj/project.assets.json
Carpentry.Logic.Tests/obj/project.assets.json
Carpentry.Logic.Tests/obj/Debug/netcoreapp3.1/Carpentry.Logic.Tests.csproj.FileListAbsolute.txt
Carpentry.Logic.Tests/obj/Debug/netcoreapp3.1/Carpentry.Logic.Tests.csproj.CopyComplete
Carpentry.Logic.Tests/obj/Debug/netcoreapp3.1/Carpentry.Logic.Tests.AssemblyInfo.cs
Carpentry.Logic.Tests/obj/Carpentry.Logic.Tests.csproj.nuget.g.targets
Carpentry.Logic.Tests/obj/Carpentry.Logic.Tests.csproj.nuget.g.props
Carpentry.Logic.Tests/obj/Carpentry.Logic.Tests.csproj.nuget.dgspec.json
Carpentry.Data.Tests/bin/Debug/netcoreapp3.1/Carpentry.Data.Tests.deps.json
Carpentry.Data.Tests/bin/Debug/netcoreapp3.1/Carpentry.Data.Tests.runtimeconfig.dev.json
Carpentry.Data.Tests/bin/Debug/netcoreapp3.1/Carpentry.Data.Tests.runtimeconfig.json
Carpentry.Logic.Tests/bin/Debug/netcoreapp3.1/Carpentry.Logic.Tests.deps.json
Carpentry.Logic.Tests/bin/Debug/netcoreapp3.1/Carpentry.Logic.Tests.runtimeconfig.dev.json
Carpentry.Logic.Tests/bin/Debug/netcoreapp3.1/Carpentry.Logic.Tests.runtimeconfig.json
Carpentry.Service/obj/Carpentry.Service.csproj.nuget.dgspec.json
Carpentry.Service/obj/Carpentry.Service.csproj.nuget.g.props
Carpentry.Service/obj/Carpentry.Service.csproj.nuget.g.targets
Carpentry.Service/obj/Debug/netcoreapp3.1/Carpentry.Service.AssemblyInfo.cs
Carpentry.Service/obj/Debug/netcoreapp3.1/Carpentry.Service.csproj.CopyComplete
Carpentry.Service/obj/Debug/netcoreapp3.1/Carpentry.Service.csproj.FileListAbsolute.txt
Carpentry.Service/obj/project.assets.json
Carpentry.UI.Tests/bin/Debug/netcoreapp3.1/Carpentry.Service.deps.json
Carpentry.UI.Tests.Legacy/obj/project.assets.json
Carpentry.UI.Tests.Legacy/obj/Debug/netcoreapp3.1/staticwebassets/Carpentry.UI.Tests.Legacy.StaticWebAssets.xml
Carpentry.UI.Tests.Legacy/obj/Debug/netcoreapp3.1/Carpentry.UI.Tests.Legacy.MvcApplicationPartsAssemblyInfo.cs
Carpentry.UI.Tests.Legacy/obj/Debug/netcoreapp3.1/Carpentry.UI.Tests.Legacy.exe
Carpentry.UI.Tests.Legacy/obj/Debug/netcoreapp3.1/Carpentry.UI.Tests.Legacy.csproj.FileListAbsolute.txt
Carpentry.UI.Tests.Legacy/obj/Debug/netcoreapp3.1/Carpentry.UI.Tests.Legacy.csproj.CopyComplete
Carpentry.UI.Tests.Legacy/obj/Debug/netcoreapp3.1/Carpentry.UI.Tests.Legacy.AssemblyInfo.cs
Carpentry.UI.Tests.Legacy/obj/Carpentry.UI.Tests.Legacy.csproj.nuget.g.targets
Carpentry.UI.Tests.Legacy/obj/Carpentry.UI.Tests.Legacy.csproj.nuget.g.props
Carpentry.UI.Tests.Legacy/obj/Carpentry.UI.Tests.Legacy.csproj.nuget.dgspec.json
Carpentry.UI.Tests.Legacy/bin/Debug/netcoreapp3.1/runtimes/osx-x64/native/libe_sqlite3.dylib
Carpentry.UI.Tests.Legacy/bin/Debug/netcoreapp3.1/runtimes/linux-x86/native/libe_sqlite3.so
Carpentry.UI.Tests.Legacy/bin/Debug/netcoreapp3.1/runtimes/linux-x64/native/libe_sqlite3.so
Carpentry.UI.Tests.Legacy/bin/Debug/netcoreapp3.1/runtimes/linux-musl-x64/native/libe_sqlite3.so
Carpentry.UI.Tests.Legacy/bin/Debug/netcoreapp3.1/runtimes/linux-armel/native/libe_sqlite3.so
Carpentry.UI.Tests.Legacy/bin/Debug/netcoreapp3.1/runtimes/linux-arm64/native/libe_sqlite3.so
Carpentry.UI.Tests.Legacy/bin/Debug/netcoreapp3.1/runtimes/linux-arm/native/libe_sqlite3.so
Carpentry.UI.Tests.Legacy/bin/Debug/netcoreapp3.1/runtimes/alpine-x64/native/libe_sqlite3.so
Carpentry.UI.Tests.Legacy/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
Carpentry.UI.Tests.Legacy/bin/Debug/netcoreapp3.1/package-lock.json
Carpentry.UI.Tests.Legacy/bin/Debug/netcoreapp3.1/Carpentry.UI.Tests.Legacy.runtimeconfig.json
Carpentry.UI.Tests.Legacy/bin/Debug/netcoreapp3.1/Carpentry.UI.Tests.Legacy.runtimeconfig.dev.json
Carpentry.UI.Tests.Legacy/bin/Debug/netcoreapp3.1/Carpentry.UI.Tests.Legacy.exe
Carpentry.UI.Tests.Legacy/bin/Debug/netcoreapp3.1/Carpentry.UI.Tests.Legacy.deps.json
Carpentry.UI.Tests.Legacy/bin/Debug/netcoreapp3.1/Carpentry.UI.Legacy.exe
Carpentry.UI.Tests.Legacy/bin/Debug/netcoreapp3.1/Carpentry.UI.Legacy.deps.json
Carpentry.UI.Tests.Legacy/bin/Debug/netcoreapp3.1/Carpentry.Service.deps.json
Carpentry.UI.Tests.Legacy/bin/Debug/netcoreapp3.1/Carpentry.Logic.deps.json
Carpentry.UI.Tests.Legacy/bin/Debug/netcoreapp3.1/Carpentry.Data.deps.json
Carpentry.UI.Tests.Legacy/bin/Debug/netcoreapp3.1/appsettings.json
Carpentry.UI.Tests.Legacy/bin/Debug/netcoreapp3.1/appsettings.Development.json
Carpentry.Service/bin/Debug/netcoreapp3.1/Carpentry.Service.deps.json
Carpentry.Service.Tests/obj/project.assets.json
Carpentry.Service.Tests/obj/Debug/netcoreapp3.1/Carpentry.Service.Tests.csproj.FileListAbsolute.txt
Carpentry.Service.Tests/obj/Debug/netcoreapp3.1/Carpentry.Service.Tests.csproj.CopyComplete
Carpentry.Service.Tests/obj/Debug/netcoreapp3.1/Carpentry.Service.Tests.AssemblyInfo.cs
Carpentry.Service.Tests/obj/Carpentry.Service.Tests.csproj.nuget.g.targets
Carpentry.Service.Tests/obj/Carpentry.Service.Tests.csproj.nuget.g.props
Carpentry.Service.Tests/obj/Carpentry.Service.Tests.csproj.nuget.dgspec.json
Carpentry.Service.Tests/bin/Debug/netcoreapp3.1/Carpentry.Service.Tests.runtimeconfig.json
Carpentry.Service.Tests/bin/Debug/netcoreapp3.1/Carpentry.Service.Tests.runtimeconfig.dev.json
Carpentry.Service.Tests/bin/Debug/netcoreapp3.1/Carpentry.Service.Tests.deps.json
Carpentry.Data.Tests/bin/Debug/netcoreapp3.1/runtimes/osx-x64/native/libe_sqlite3.dylib
Carpentry.Data.Tests/bin/Debug/netcoreapp3.1/runtimes/linux-x86/native/libe_sqlite3.so
Carpentry.Data.Tests/bin/Debug/netcoreapp3.1/runtimes/linux-x64/native/libe_sqlite3.so
Carpentry.Data.Tests/bin/Debug/netcoreapp3.1/runtimes/linux-musl-x64/native/libe_sqlite3.so
Carpentry.Data.Tests/bin/Debug/netcoreapp3.1/runtimes/linux-armel/native/libe_sqlite3.so
Carpentry.Data.Tests/bin/Debug/netcoreapp3.1/runtimes/linux-arm64/native/libe_sqlite3.so
Carpentry.Data.Tests/bin/Debug/netcoreapp3.1/runtimes/linux-arm/native/libe_sqlite3.so
Carpentry.Data.Tests/bin/Debug/netcoreapp3.1/runtimes/alpine-x64/native/libe_sqlite3.so
Carpentry.Logic.Tests/bin/Debug/netcoreapp3.1/runtimes/alpine-x64/native/libe_sqlite3.so
Carpentry.Logic.Tests/bin/Debug/netcoreapp3.1/runtimes/linux-arm/native/libe_sqlite3.so
Carpentry.Logic.Tests/bin/Debug/netcoreapp3.1/runtimes/linux-arm64/native/libe_sqlite3.so
Carpentry.Logic.Tests/bin/Debug/netcoreapp3.1/runtimes/linux-armel/native/libe_sqlite3.so
Carpentry.Logic.Tests/bin/Debug/netcoreapp3.1/runtimes/linux-musl-x64/native/libe_sqlite3.so
Carpentry.Logic.Tests/bin/Debug/netcoreapp3.1/runtimes/linux-x64/native/libe_sqlite3.so
Carpentry.Logic.Tests/bin/Debug/netcoreapp3.1/runtimes/linux-x86/native/libe_sqlite3.so
Carpentry.Logic.Tests/bin/Debug/netcoreapp3.1/runtimes/osx-x64/native/libe_sqlite3.dylib
Carpentry.Service.Tests/bin/Debug/netcoreapp3.1/runtimes/alpine-x64/native/libe_sqlite3.so
Carpentry.Service.Tests/bin/Debug/netcoreapp3.1/runtimes/linux-arm/native/libe_sqlite3.so
Carpentry.Service.Tests/bin/Debug/netcoreapp3.1/runtimes/linux-arm64/native/libe_sqlite3.so
Carpentry.Service.Tests/bin/Debug/netcoreapp3.1/runtimes/linux-armel/native/libe_sqlite3.so
Carpentry.Service.Tests/bin/Debug/netcoreapp3.1/runtimes/linux-musl-x64/native/libe_sqlite3.so
Carpentry.Service.Tests/bin/Debug/netcoreapp3.1/runtimes/linux-x64/native/libe_sqlite3.so
Carpentry.Service.Tests/bin/Debug/netcoreapp3.1/runtimes/linux-x86/native/libe_sqlite3.so
Carpentry.Service.Tests/bin/Debug/netcoreapp3.1/runtimes/osx-x64/native/libe_sqlite3.dylib
Carpentry.Data/bin/Debug/netcoreapp2.2/Carpentry.Data.deps.json
Carpentry.Data/bin/Debug/netcoreapp3.1/Carpentry.Data.deps.json
Carpentry.Data/obj/Debug/netcoreapp3.1/Carpentry.Data.AssemblyInfo.cs
Carpentry.Data/obj/Debug/netcoreapp3.1/Carpentry.Data.csproj.FileListAbsolute.txt
Carpentry.UI/bin/Debug/netcoreapp3.1/runtimes/osx-x64/native/libe_sqlite3.dylib
Carpentry.UI/bin/Debug/netcoreapp3.1/runtimes/linux-x86/native/libe_sqlite3.so
Carpentry.UI/bin/Debug/netcoreapp3.1/runtimes/linux-x64/native/libe_sqlite3.so
Carpentry.UI/bin/Debug/netcoreapp3.1/runtimes/linux-musl-x64/native/libe_sqlite3.so
Carpentry.UI/bin/Debug/netcoreapp3.1/runtimes/linux-armel/native/libe_sqlite3.so
Carpentry.UI/bin/Debug/netcoreapp3.1/runtimes/linux-arm64/native/libe_sqlite3.so
Carpentry.UI/bin/Debug/netcoreapp3.1/runtimes/linux-arm/native/libe_sqlite3.so
Carpentry.UI/bin/Debug/netcoreapp3.1/runtimes/alpine-x64/native/libe_sqlite3.so
Carpentry.UI.Tests/bin/Debug/netcoreapp3.1/runtimes/osx-x64/native/libe_sqlite3.dylib
Carpentry.UI.Tests/bin/Debug/netcoreapp3.1/runtimes/linux-x86/native/libe_sqlite3.so
Carpentry.UI.Tests/bin/Debug/netcoreapp3.1/runtimes/linux-x64/native/libe_sqlite3.so
Carpentry.UI.Tests/bin/Debug/netcoreapp3.1/runtimes/linux-musl-x64/native/libe_sqlite3.so
Carpentry.UI.Tests/bin/Debug/netcoreapp3.1/runtimes/linux-armel/native/libe_sqlite3.so
Carpentry.UI.Tests/bin/Debug/netcoreapp3.1/runtimes/linux-arm64/native/libe_sqlite3.so
Carpentry.UI.Tests/bin/Debug/netcoreapp3.1/runtimes/linux-arm/native/libe_sqlite3.so
Carpentry.UI.Tests/bin/Debug/netcoreapp3.1/runtimes/alpine-x64/native/libe_sqlite3.so
