<mat-card>
    <mat-card-header>
        <mat-card-title>Available Decks ({{deckOverviews.length}})</mat-card-title>

        <!-- <div class="flex-section side-padded">
            <mat-form-field class="stretch">
                <mat-label>Sort by</mat-label>
                <mat-select [(ngModel)]="searchFilter.sortBy">
                    <mat-option *ngFor="let item of filterOptions?.sortBy" [value]="item.value">{{item.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div> -->

        <mat-form-field>
            <mat-label>Format</mat-label>
            <mat-select [(ngModel)]="formatFilter" (selectionChange)="onFormChange()">
                <!-- TODO: should be loaded from a core service -->
                <mat-option value="">Any</mat-option>
                <mat-option value="commander">Commander</mat-option>
                <mat-option value="modern">Modern</mat-option>
                <mat-option value="Jumpstart">Jumpstart</mat-option>
                <!-- <mat-option>(populated from core data)</mat-option> -->
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Sort</mat-label>
            <mat-select [(ngModel)]="sortBy" (selectionChange)="onFormChange()">
                <mat-option value="name">Name</mat-option>
                <mat-option value="color">Color</mat-option>
            </mat-select>
        </mat-form-field>

        <!-- <div class="flex-section side-padded"> -->
            <mat-checkbox [(ngModel)]="includeDissasembled" color="primary" (change)="onFormChange()">Inc Empty</mat-checkbox>
        <!-- </div> -->

        <!-- <td size="small"> -->
            <!-- <a mat-icon-button (click)="menuClick()">more_vert</a> -->
        <a mat-icon-button>
            <mat-icon>add</mat-icon>
        </a>
            <!-- <IconButton size="small" onClick={props.onMenuClick} name={item.name} value="item.id">
                <MoreVert />
            </IconButton> -->
        <!-- </td> -->
    </mat-card-header>
    <mat-card-content>
        <table mat-table [dataSource]="deckOverviews" class="mat-elevation-z8">

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let element">
                    <!-- <a [routerLink]="['/decks/'+element.id]">{{element.name}}</a> -->
                    <a [routerLink]="['/decks',element.id]">{{element.name}}</a>
                </td>
            </ng-container>

            <ng-container matColumnDef="format">
                <th mat-header-cell *matHeaderCellDef>Format</th>
                <td mat-cell *matCellDef="let element">{{element.format}}</td>
            </ng-container>

            <ng-container matColumnDef="color">
                <th mat-header-cell *matHeaderCellDef>Colors</th>
                <td mat-cell *matCellDef="let element">{{element.colors}}</td>
            </ng-container>

            <ng-container matColumnDef="validationIssues">
                <th mat-header-cell *matHeaderCellDef>Validity</th>
                <td mat-cell *matCellDef="let element"><p>{{element.validationIssues}}</p><p *ngIf="element.isDisassembled">Disassembled</p></td>
                <!-- <td mat-cell *matCellDef="let element">{{element.isDisassembled}}</td> -->
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card-content>
</mat-card>