<mat-card class="outline-section card-result">
    <!-- <CardMedia
        style="height: 310px; width: 223px"
        image="cardItem.imageUrl"
        title="cardItem.name" /> -->
    <img mat-card-image class="card-result-image" [title]="cardItem.name" [src]="cardItem.imageUrl" [alt]="cardItem.name" style="height: 310px; width: 223px;" />
    <div fxLayout="row">
        <mat-card-content>
            <div fxLayout="column">

                <span *ngIf="!cardItem.totalCount">
                    no cards
                </span>

                <span *ngIf="cardItem.inventoryCount">
                    Inventory: {{cardItem.inventoryCount}}
                </span>

                <span *ngIf="cardItem.deckCount">
                    Decks: {{cardItem.deckCount}}
                </span>

                <span *ngIf="cardItem.sellCount">
                    Sell: {{cardItem.sellCount}}
                </span>

                <span *ngIf="cardItem.totalCount">
                    Total: <span class="card-total">{{cardItem.totalCount}}</span>
                </span>

                <span *ngIf="cardItem.isFoil">(FOIL)</span>

                <span>{{cardItem.price}}</span>
            </div>
        </mat-card-content>
        <mat-card-actions class="flexSection">



            <!--  (click)="cardSelected(cardItem.cardId)" -->
            <button mat-button color="primary" size="small" [routerLink]="['/inventory',cardItem.id]">
                Details
            </button>

                <!-- <a [routerLink]="['/decks',element.id]">{{element.name}}</a> -->

                <!-- <IconButton
                    value={cardItem.id}
                    color="primary"
                    size="small"
                    onMouseEnter={props.onInfoButtonEnter}
                    onMouseLeave={props.onInfoButtonLeave}
                    >
                    <InfoOutlined />
                </IconButton> -->
        </mat-card-actions>
    </div>
</mat-card>
