<mat-card>
    <mat-card-header>
        <mat-card-title>Collection Totals</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <table mat-table [dataSource]="inventoryStatusTotals" class="mat-elevation-z8 table-small" size="small">
            <ng-container matColumnDef="statusName">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let element"> {{element.statusName}} </td>
            </ng-container>
            
            <ng-container matColumnDef="totalCount">
                <th mat-header-cell *matHeaderCellDef>Count</th>
                <td mat-cell *matCellDef="let element">&nbsp;{{element.totalCount}}&nbsp;</td>
            </ng-container>

            <ng-container matColumnDef="totalPrice">
                <th mat-header-cell *matHeaderCellDef>Price</th>
                <td mat-cell *matCellDef="let element">&nbsp;{{element.totalPrice | currency}}&nbsp;</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card-content>
</mat-card>