

<mat-card 
    class="outline-section"
    (click)="cardSelected()"
    >
    <!-- <mat-card-header titleTypographyProps="variant:body1" title=`${props.cardOverview.name} - (${props.cardOverview.count})` > -->
    <mat-card-header titleTypographyProps="variant:body1" title="{{cardOverview.name}} - {{cardOverview.count}}">
        <mat-card-title>
            <!-- toto - ensure spaces appear around the rendered '-' -->
            {{cardOverview.name}} - {{cardOverview.count}}
        </mat-card-title>

    </mat-card-header>

    <img mat-card-image src="cardOverview.img" alt="cardOverview.name" style="height:310px; width: 223px" />

    <!-- <CardMedia 
        style="height:310px; width: 223px"
        image="props.cardOverview.img"
        title="props.cardOverview.name" /> -->
    <!-- {props.children} -->

</mat-card>