<header>
  <mat-toolbar color="primary" class="mat-elevation-z6">
    <div class="container">
      <span class="navbar-brand">Carpentry</span>
      <button class="nav-button" mat-button [routerLink]="['/']">Home</button>
<!--      <button class="nav-button" mat-button [routerLink]="['/decks']">Decks</button>-->
<!--      <button class="nav-button" mat-button [routerLink]="['/inventory']">Inventory</button>-->
<!--      <button class="nav-button" mat-button [routerLink]="['/settings']">Settings</button>-->
    </div>
  </mat-toolbar>
</header>
