<div>
  <h4>Carpentry</h4>
  <h6>A deck & inventory management tool for Magic the Gathering</h6>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Angular App MVP Todo:</mat-card-title>
      <mat-card-subtitle>(once it's empty, this card can be deleted...)</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <ul>
        <li>Finish recreating angular components...</li>
        <li>Settings: Clean up collection totals table</li>
        <li>Deck Detail/editor: Implement</li>
        <li>Deck Add Cards: Implement</li>
        <li>Inventory Overview: Implement</li>
        <li>Inventory Detail: Implement</li>
        <li>Inventory Add Cards: Implement</li>
        <li>Trimming Tool: Implement</li>
        <li>deck list: get mana icons working</li>
        <li>Get list of angular components that still need to be finished</li>
        <li>DON'T implement binders/collection</li>
        <li>Finish implementing deck import</li>
        <li>Implement collection backup/import (in settings)</li>
        <li>Add any style changes</li>
        <li>Ensure angular app source is clean (no commented code, etc)</li>
        <li>Remove bootstrap styles</li>
        <li>Add that fxFlex/whatever library</li>
        <li>Figure out what to do with Home component</li>

        <li>Collection: Add TSR non-rare cards</li>
        <li>Collection: Add Jumpstart box</li>
        <li>Collection: Add cards collected since move</li>
        <li>Collection: Add elf edh deck</li>
        <li>Collection: Add fortell edh deck</li>
        <li>Collection: Add other misc cards in the tsr/jmp box</li>
        <li>Collection: Add other cards in the orange binder(non-tsr)</li>
        <li>Collection: Add cards from TCGPlayer</li>
      </ul>
    </mat-card-content>
  </mat-card>
  <app-deck-list></app-deck-list>
</div>