<div>
  <h4>Carpentry</h4>
  <h6>A deck & inventory management tool for Magic the Gathering</h6>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Angular App MVP Todo:</mat-card-title>
      <mat-card-subtitle>(once it's empty, this card can be deleted...)</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <ul>
        <li>Finish recreating angular components...</li>
        <li>Settings: Clean up collection totals table</li>
        <li>Deck Detail/editor: Implement</li>
        <li>Deck Add Cards: Implement</li>
        <li>Inventory Overview: Implement</li>
        <li>Inventory Detail: Implement</li>
        <li>Inventory Add Cards: Implement</li>
        <li>Trimming Tool: Implement</li>
        <li>deck list: get mana icons working</li>
        <li>Get list of angular components that still need to be finished</li>
        <li>Finish implementing deck import</li>
        <li>Implement collection backup/import (in settings)</li>
        <li>Add any style changes</li>
        <li>Ensure angular app source is clean (no commented code, etc)</li>
        <li>Remove bootstrap styles</li>
        <li>Figure out what to do with Home component</li>
      </ul>
      <!-- 
        Notes on non-mvp feature ideas (This is not the place to add this, but whatever)
          Add 'Binders' / 'Collections' to track completion of complete singleton card sets (since I decided I wanted to do that)
          Add a way to define a 'cube' / 'box' / 'sealed pool' deck (like a sealed pool with 1/2 decks, or a jumpstart cube)
          Add a way to export & import inventory backups (basically a settings page overhaul)

          Refactoring:
            Clean up C# layer  
            Clean up React app, too
              Try to get it MVP, then stop adding features
            
      -->
    </mat-card-content>
  </mat-card>
  <app-deck-list></app-deck-list>
</div>