.table-small {
    .mat-row, .mat-header-row, .mat-footer-row {
        height: auto;
    }
    .mat-cell, .mat-footer-cell, .mat-header-cell {
        padding: 8px;
    }

    .mat-button {
        line-height: unset;
    }
  }