<div>


    <app-deck-props-bar></app-deck-props-bar>
    <!-- { props.deckProperties && 
        <DeckPropsBar 
            deckProperties={props.deckProperties} 
            onEditClick={props.onPropsModalOpen} 
            onAddCardsClick={props.onAddCardsClick}
            onToggleViewClick={props.handleToggleDeckView}
            onExportClick={props.onExportClick} /> }
    
    <div className={combineStyles(flexRow, flexSection)} style={{ overflow:'auto', alignItems:'stretch' }}>
        <div className={flexSection} style={{ overflow:'auto', flex:'1 1 70%' }} >
            {props.viewMode === "list" && <DeckCardList cardOverviews={firstGroup.cardOverviews} onCardSelected={props.onCardSelected} />}
            {props.viewMode === "grid" && <DeckCardGrid cardOverviews={firstGroup.cardOverviews} onCardSelected={props.onCardSelected} />}
            { props.viewMode === "grouped" && 
                <GroupedDeckCardList 
                    groupedCardOverviews={props.groupedCardOverviews} 
                    cardDetailsById={props.cardDetailsById} 
                    onCardSelected={props.onCardSelected}
                    onCardDetailClick={props.onCardDetailClick} 
                    onCardTagsClick={props.onCardTagsClick}  /> }
        </div>
        <div className={flexSection} style={{ overflow:'auto', flex:'1 1 30%' }} >
            <CardMenu 
                cardMenuAnchor={props.cardMenuAnchor} 
                onCardMenuSelect={props.onCardMenuSelected} 
                onCardMenuClose={props.onCardMenuClosed} 
                cardCategoryId={props.selectedCard?.category || ''}
                hasInventoryCard={Boolean(props.cardDetailsById[props.cardMenuAnchorId]?.inventoryCardId)}
                />

            <DeckCardDetail 
                selectedCard={props.selectedCard} 
                inventoryCards={props.selectedInventoryCards} 
                onMenuClick={props.onCardMenuClick}
                onMenuClose={props.onCardMenuClosed}
                onCardDetailClick={props.onCardDetailClick} 
                onCardTagsClick={props.onCardTagsClick} />
        </div>
    </div>

    <DeckStatsBar deckStats={props.deckStats} /> -->
</div>